@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Datos Personales</h1>
    <p class="lead">
        Nombre: Edwin Humberto Hernández Ambrocio</p>
    <p class="lead">
        No. Carnet: 1802004012</p>
    <p class="lead">
        Carrera: Ing Electrónica</p>
    <p class="lead">
        Semestre: lV</p>
</div>

<div class="jumbotron">
    <div class="col-md-8">
        <h2>Descripción</h2>
        <p>
            Un programa web que muestra 6 mantenimientos con un botón para cada mantenimiento.
        </p>
    </div>
</div>